.widget.stacked
  .widget-header
    %i.icon-star
    %h3=title
    Group by
    .btn-group{"data-toggle" => "buttons-radio"}
      %button.btn{:id=> "#{div}_day"} Dy
      %button.btn{:id=> "#{div}_week"} Wk
      %button.btn{:id=> "#{div}_month"} Mo
  .widget-content{:id=> div}

:javascript

  var #{div} = new Highcharts.StockChart({
    chart : {
      renderTo : "#{div}"
    },

    rangeSelector : {
      selected : 2
    },

    credits: {
      enabled: false
    },

    navigator : {
      height : 30
    },

    xAxis : {
      maxZoom : 14 * 24 * 3600000 // fourteen days
    },

    yAxis: {
        labels: {
          formatter: function () {
            return #{ylabel};
          }
        },  
        min:0,
        title: {
            text: '#{title}'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                         "<td style=\"padding:0\"><b>#{ttunit}{point.y}</b></td></tr>",
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    series : [{
      name : "#{title}",
      data : #{data || []},
      tooltip : {
        yDecimals : 4
      }
    }]
  });

  $("##{div}_day").click(function() {
    $.ajax({
    type: "GET",
    url: "#{trend_path}",
    data: {"type": "#{type}","group_by": "daily"},
    dataType: 'json',
    success: function(data){
          #{div}.series[0].setData(data);
      }
    });
  });
  $("##{div}_week").click(function() {
    $.ajax({
    type: "GET",
    url: "#{trend_path}",
    data: {"type": "#{type}","group_by": "weekly"},
    dataType: 'json',
    success: function(data){
          #{div}.series[0].setData(data);
      }
    });
  });
  $("##{div}_month").click(function() {
    $.ajax({
    type: "GET",
    url: "#{trend_path}",
    data: {"type": "#{type}","group_by": "monthly"},
    dataType: 'json',
    success: function(data){
          #{div}.series[0].setData(data);
      }
    });
  });

