.row-fluid.sortable
  .box.span12
    .box-header
      %h2
        %i.halflings-icon.list-alt
        = succeed @trend.desc do
          %span.break
      .box-icon
        %a.btn-setting{href: "#"}
          %i.halflings-icon.wrench
        %a.btn-minimize{href: "#"}
          %i.halflings-icon.chevron-up
        %a.btn-close{href: "#"}
          %i.halflings-icon.remove
    .box-content
      -if @trend.is_currency?
        =render '/charts/flot_fill_chart_amount', data: @trend, max_data_points: @max_data_points , height:350, div:"#{@trend.div_name}_chart"
      -else
        =render '/charts/flot_fill_chart_count', data: @trend, max_data_points: @max_data_points , height:350, div:"#{@trend.div_name}_chart"
.row-fluid.sortable
  .widget.span12
    .widget-header
    .widget-content
      = render  '/tables/jqgrid', trend_id:@trend.id,colNames:@trend.col_names, colModel:@trend.col_model,div:"#{@trend.div_name}_table",caption:@trend.desc


.row-fluid.sortable
  .box.span12
    .box-header
      %h2
        %i.halflings-icon.align-justify
        = succeed @trend.desc do
          %span.break
      .box-icon
        %a.btn-setting{href: "#"}
          %i.halflings-icon.wrench
        %a.btn-minimize{href: "#"}
          %i.halflings-icon.chevron-up
        %a.btn-close{href: "#"}
          %i.halflings-icon.remove
    .box-content
      = render  '/tables/jqgrid', trend_id:@trend.id,colNames:@trend.col_names, colModel:@trend.col_model,div:"#{@trend.div_name}_table",caption:@trend.desc