= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  - if notification = f.error_notification
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = notification
  = f.input :email,:hint => "this is your username (you'll need it to run the command line tool)" ,:wrapper => :prepend, :label => false do
    = content_tag :span, "Email", :class => "add-on"
    = f.input_field :email
  = f.input :password, :wrapper => :prepend, :label => false do
    = content_tag :span, "password", :class => "add-on"
    = f.input_field :password
  .form-actions
    = f.button :submit, 'Signup',:class => 'btn-primary'
    = submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger"

 