.widget
  .widget-header
    %i.icon-star
    %h3=title
  .widget-content
    .chart-holder{:id=> div}

:javascript
  var chart = new Highcharts.Chart({
      chart: {
          renderTo: "#{div}",
          alignTicks: false,
          zoomType: 'x',
          spacingRight: 20
      },
      title: {text:'#{title}'},
      subtitle: {
          text: document.ontouchstart === undefined ?
              'Click and drag in the plot area to zoom in' :
              'Drag your finger over the plot to zoom in'
      },
      xAxis: {
          type: 'datetime',
          maxZoom: 14 * 24 * 3600000, // fourteen days
          title: {
              text: null
          }
      },
      yAxis: {
          title: {
              text: '#{title}'
          }
      },
      tooltip: {
          //pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
          shared: true
      },
      legend: {
          enabled: false
      },
      plotOptions: {
          area: {
              // fillColor: {
              //     linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
              //     stops: [
              //         [0, Highcharts.getOptions().colors[0]],
              //         [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
              //     ]
              // },
              lineWidth: 1,
              marker: {
                  enabled: false,
                  symbol: 'circle',
                  radius: 2,
                  states: {
                      hover: {
                          enabled: true
                      }
                  }
              },
              shadow: false,
              states: {
                  hover: {
                      lineWidth: 1
                  }
              },
              threshold: null
          }
      },
      series: [{
          type: 'areaspline',
          name: '#{(title || 'Chart')}',
          pointInterval: 24 * 3600 * 1000,
          pointStart: #{start || Time.now.to_i},
          data: #{data || []}
      }]
  });