.main
  .main-inner
    .container
      .row
        .span12
          = render "bigstats"
      .row
        .span6
          = render "chart", :title  => "Paid Charges Volume",
                            :data   => @paid_charges.daily,
                            :start  => @paid_charges.start_date,
                            :div    => "paid-charges-trend-chart"
        .span6    
          = render "chart", :title  => "Failed Charges Volume",
                            :data   => @failed_charges.daily,
                            :start  => @failed_charges.start_date,
                            :div    => "failed-charges-trend-chart"
      .row
        .span6
          = render "chart", :title => 'Acquisition',
                            :data  => @customers.daily,
                            :start => @customers.start_date,
                            :div   => "customers-trend-chart"
        .span6
          = render "chart", :title => 'Cancelation',
                            :data  => @cancelations.daily,
                            :start => @cancelations.start_date,
                            :div   => "cancelations-trend-chart"

