.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".top-nav.nav-collapse,.sidebar-nav.nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: "index.html"}
        %span StripeMetrics
      .nav-no-collapse.header-nav
        %ul.nav.pull-right
          /= render "layouts/menu_notifications"
          /= render "layouts/tasks_in_progress"
          /= render "layouts/messages"
          - if user_signed_in?
            %li.dropdown
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %i.halflings-icon.white.user
                = (current_user.email ? current_user.email : current_user.id)
                %span.caret
              %ul.dropdown-menu
                %li.dropdown-menu-title
                  %span Account Settings
                %li
                  = link_to account_path do
                    %i.halflings-icon.user
                    Account Settings
                %li
                  = link_to signout_path do
                    %i.halflings-icon.off
                    Logout
          - else
            %li
              = link_to signin_path do
                = image_tag('blue.png')
