.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "./"}
        StripeMetrics
      -if user_signed_in?
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .nav-collapse
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-user
                = (current_user.email ? current_user.email : current_user.id)
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'My account', account_path
                %li
                  = link_to 'Billing', billing_path
                %li.divider
                %li
                  = link_to 'Logout', signout_path
      -else                
        %ul.nav.pull-right
          %li
            = link_to image_tag('blue.png'), signin_path
