.subnavbar
  .subnavbar-inner
    .container
      %ul.mainnav
        -if user_signed_in? 
          %li{:class => "#{'active' if current_page?(dashboard_path) || current_page?(root_path)}"}
            = link_to dashboard_path do
              %i.icon-dashboard
              %span Dashboard
          %li{:class => "#{'active' if current_page?(metrics_path)}"}
            = link_to metrics_path do
              %i.icon-cloud-upload
              %span Metrics
          %li{:class => "#{'active' if current_page?(status_path)}"}
            = link_to status_path do
              %i.icon-cloud-upload
              %span Imports
          %li{:class => "#{'active' if current_page?(account_path)}"}
            = link_to account_path do
              %i.icon-user
              %span My Account
          -if current_user.in_free_trial?
            %li{:class => "#{'active' if current_page?(upgrading_path)}"}
              = link_to upgrading_path do
                %i.icon-credit-card
                %span Upgrade        
        -else
          %li{:class => "#{'active' if current_page?(quickstart_path) || current_page?(root_path)}"}
            = link_to quickstart_path do
              %i.icon-home
              %span Quick-start
          %li{:class => "#{'active' if current_page?(pricing_path)}"}
            = link_to pricing_path do
              %i.icon-credit-card
              %span Pricing
        %li{:class => "#{'active' if current_page?(faq_path)}"}
          = link_to faq_path do
            %i.icon-lightbulb
            %span FAQ
