!!!
%html{:lang => "en"}
  %head
    / start: Meta
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Stripemetrics"
    %meta{:content => "StripeMetrics: analytics for Stripe", :name => "description"}/
    %meta{:content => "Yacin Bahi", :name => "author"}/
    / end: Meta
    / start: Mobile Specific
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    / end: Mobile Specific
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    - if Rails.env.production?
        = render :partial => 'ga'
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = render "layouts/navbar"
    = render "layouts/subnavbar"
    = render "shared/flash_messages"
    = yield
    = render "layouts/extras"
    = render "layouts/footer"

