!!!
%html{:lang => "en"}
  %head
    / start: Meta
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Stripemetrics"
    %meta{:content => "StripeMetrics: analytics for Stripe", :name => "description"}/
    %meta{:content => "Yacin Bahi", :name => "author"}/
    / end: Meta
    / start: Mobile Specific
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / end: Mobile Specific
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = render "layouts/overlay"
    = render "layouts/header"
    = render "layouts/main_container"
    = render "layouts/my_modal"
    .clearfix
    = render "layouts/footer"